@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');
.btn{
    border-radius: 5px;
    background-color: white;
    margin:1vw;
}

.card{
    padding:4vw;
    font-size: 25px;
    width: 20vw;
    border-radius: 20px; 
    background: rgb(1,14,15);
    background: linear-gradient(347deg, rgba(1,14,15,1) 2%, rgba(12,52,68,1) 36%, rgba(9,124,122,1) 67%, rgba(10,167,164,1) 87%, rgba(170,227,226,1) 99%);
    color: white;
    -webkit-box-shadow: 7px 7px 8px -3px rgba(0,0,0,0.7); 
    box-shadow: 7px 7px 8px -3px rgba(0,0,0,0.7);
    font-family: 'Nunito', sans-serif;
}
.cart_item{
    margin: 3vw;
}