<div class="cart_item">
<div class="container-fluid card" *ngIf="trip">
  <h1>  {{trip.name}}<br>{{trip.country}}</h1>
    <h2 style="color: rgba(192, 192, 192, 0.822);">  booked places: {{count}} </h2>
    <div class="row">
    <div class="col-12" style="padding: 10px;">
        <button type="button" class ="btn" (click)="onRemove()" >
            <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/minus-512.png" height="30" width="30">
        </button>
        <button *ngIf="trip.places > trip.booked" type="button" class ="btn" (click)="onAdd()" >
          <img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-plus-icon-png-image_3989579.jpg" height="30" width="30">
        </button>
    </div></div>
  </div>
</div>