@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

.container-fluid{
    width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.box {

    margin: auto;
    width: 530px;
    padding: 50px;
    background: white ;
    text-align: center;
    transition: 0.25s;
    font-family: 'Nunito', sans-serif;
    color: black;
    border-radius: 30px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;

    padding: 15px 15px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.box input[type="text"]{
    border: 2px solid rgba(170,227,226,1);
}
.box input[type="password"] {
    border: 2px solid rgba(10,167,164,1);
}
.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2eaccc
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid rgba(9,124,122,1);
    
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.box button[type="submit"]:hover {
    background: rgba(9,124,122,1);
}
.ggl{
    border: none;
    background: transparent;
    text-decoration: underline;
    color: slateblue;
    font-size: 25px;
}

.button {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid white;
    
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.button:hover {
    background: white;
}