<div *ngIf="!checkIfLogged()" class="container-fluid">
    <div class="col-lg-13">
    <form class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <h1>Log in</h1>
    <input id="mail" formControlName="mail" type="text" name="mail" placeholder="Mail"> 
    <input id="password" formControlName="password" type="password" name="password" placeholder="Password"> 
    <!--<a class="forgot text-muted" href="#">Forgot password?</a> <input type="submit" name="" value="Login" href="#">-->
    <button type="submit"  name="" value="Login" href="#">Log in {{errMsg}}</button>
    {{errMsg}}
        <div class="google">
            <button class="ggl" (click)="this.service.googleSignin()">Log in with google</button>
        </div>
</form>
</div>
<br>
<h3>Don't have an account?</h3>
    <button routerLink="/signUp" class="btn button highlight-button" role="button" routerLinkActive="active">SIGN UP</button>

</div>