@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Tenor+Sans&display=swap');
*{
    font-family: 'Tenor Sans', sans-serif;
    opacity: 1;
}
.plus{
    background-color: rgba(16, 112, 150, 0.767);
    color:white;
    width: 50px;
    padding: 10px;
    margin-right: 30px;
}
.minus{
    background-color: red;
    color:white;
    width: 50px;
    padding: 10px;
}
.containerTrip{
    width:90%;
    margin-left: 50px;
    margin-right: 560px;
    border-radius: 10px;
    padding:10px;

    max-width: 60%;
}
h1{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 700;
}
.card{
    border: none;
}
h5{

    font-family: 'Tenor Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:rgb(182, 182, 182);
}
ngb-rating {
    font-size: 40px;
   color: linear-gradient(347deg, rgba(1,14,15,1) 2%, rgba(12,52,68,1) 36%, rgba(9,124,122,1) 67%, rgba(10,167,164,1) 87%, rgba(170,227,226,1) 99%);
    
}
#description{
    padding-right: 40%;
}
.text-secondary{
    font-size: 20px;
    color: black;
}
@media (min-width: 950px) and (max-width: 1300px){
    .tripPhoto{
        width: 220px;
        height: 220px;
    }
}
@media (max-width: 1850px){
    #description{
        padding-right: 0;
    }
}

