@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

  body {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .jumbotron {
    padding: 10vh;
    background: rgb(255, 255, 255);
    border-radius: 15px;
  }

 form{
    margin-top: 20px;

  }
  .jumbotron .form-group{
    position: relative;
    margin-top: 30px;
  }
  
  .jumbotron .form-group input {
    width: 100%;
    padding: 10px 0 0 20px;
    font-size: 16px;
    color: rgb(34, 33, 33);
    margin-bottom: 80px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid rgb(5, 5, 5);
    outline: none;
    background: transparent;
    font-family: 'Nunito', sans-serif;
  }
  .jumbotron .form-group label {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px;
    font-size: 19px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
    top: -20px;
    color: rgb(172, 169, 169);
  }

  .jumbotron .form-group label {
    top:-25px;
    left: 0;
    padding: 10px 0;
    color: rgb(0, 0, 0);    
    position: absolute;
    pointer-events: none;
    transition: .5s;

    font-size: 25px;
  }
    
  .jumbotron .form-group input:focus ~ label {
    top: -30px;
    font-size: 15px;
    color: rgb(20, 20, 20);
  }  
 .form-control:focus{
     box-shadow: none;
 }

 button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 35px auto;
  text-align: center;
  border: 2px solid rgba(9,124,122,1);
  
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}

button[type="submit"]:hover {
  background: rgba(9,124,122,1);
}
 @media only screen and (max-width:1650px){
  .jumbotron {
    position: relative;
    margin-top: 50%;
  }
 }
 @media only screen and (max-width:1350px){
  .jumbotron {
    margin-top: 60%;
  }
 }
 @media only screen and (max-width:1000px){
  .jumbotron {
    position: relative;
    margin-top: 70%;
  }
 }
 @media only screen and (max-width:850px){
  .jumbotron {
    position: relative;
    margin-top: 80%;
  }
 }
 @media only screen and (max-width:770px){
  .jumbotron {
    position: relative;
    margin-top: 130%;
  }
 }
 @media only screen and (max-width:610px){
  .jumbotron {
    position: relative;
    margin-top: 150%;
  }
 }