@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@100;200;300&display=swap');
*{
    opacity: 1;
    font-family: 'Nunito', sans-serif;
}
.btn{
    color:white;
    border: 1.5px white solid;

}
.btn:hover{
    background-color: white;
    color:teal;
}
.container-fluid{
    margin-top:150px;
    background-color: white;
    width:90%;
    padding: 2vw;

    font-family: 'Nunito', sans-serif;
}
.row{
    padding: 3vw;
}
h1{
    font-size: 40px;

    font-family: 'Bungee Shade', cursive;
}