@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    opacity: 1;
}
.container{
    padding:2%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 8px 7px 15px 5px #000000; 
    box-shadow: 8px 7px 15px 5px #000000;
}

.btn.btn-large {
    font-size: 18px;
    padding: 10px;

}
.highlight-button {
    border: 2px solid #000;
    display: inline-block;
    font-size: 12px;
    color: #000;
    background-color: white;
}

.highlight-button:hover {
    filter: invert(1);
}

h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.card{
    border: none;
}
h5{

    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:rgb(182, 182, 182);
}
ngb-rating {
    font-size: 40px;
   color: linear-gradient(347deg, rgba(1,14,15,1) 2%, rgba(12,52,68,1) 36%, rgba(9,124,122,1) 67%, rgba(10,167,164,1) 87%, rgba(170,227,226,1) 99%);
    
}
.reset{
    border-radius:10px;
}
#description{
    padding-right: 40%;
}@media only screen and (max-width:420px){
    nav{
        height: 240px;

    }
}
.text-secondary{
    font-size: 20px;
    color: black;
}
.button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid rgb(11, 128, 126);
    
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.button[type="submit"]:hover {
    background: rgb(11, 128, 126);
}

/*
@media (min-width: 995px) and (max-width: 1300px){
    .tripPhoto{
        width: 220px;
        height: 220px;
    }

}
@media (max-width: 1850px){
    #description{
        padding-right: 0;
    }
}
@media only screen and (max-width:420px){
    .container-fluid{
        margin-top:220px;

    }
}*/