<div class="container" >
    <div class="row" >
      <div class="col-sm-12" >
        <div class="card" style="background-color: transparent; border: none">
            <div class="card-body" >
            <div class="d-flex flex-column align-items-center text-center">
                <img class="tripPhoto" src="{{trip.photoURL}}" style="clip-path: circle(50% at 50% 50%); " width="350" height="350">
            </div>
            </div>
        </div>
      </div>
    </div>
<form [formGroup]="tripForm" (ngSubmit)="onSubmit()" >
    <div class="col-sm-12 " >
        <div class="card mb-3"  style="border: solid 2px;">
          <div class="card-body" >
            <div class="row">
              <div class="col-sm-10">
                <h1>{{trip.id}}</h1>
                <h3 ><input type="text" formControlName="name"></h3>
              </div>
              
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0">Country:  </h5>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" formControlName="country" >
              </div>
            </div>
            <hr>


      
      




           <div class="row">
              <div class="col-sm-12">
                <h5 class="mb-0">Date:</h5><br>
              </div>
              <div class="col-sm-6 text-secondary">
                <div *ngIf="this.trip.dateFrom" class="col-sm-6 text-secondary">
                  Start: {{trip.dateFrom.toDate()| date:'shortDate'}}
                </div>
                <label for="dateFrom" >
                  Start date: 
              </label>
                 <mat-form-field class="form-group" >
                  <input matInput [matDatepicker]="from"  autocomplete="off" (dateInput)="getDateFrom($event)" (dateChange)="getDateFrom($event)">
                  <mat-datepicker-toggle matSuffix [for]="from" style="font-size:40px;"></mat-datepicker-toggle>
                  <mat-datepicker #from color="primary"  ></mat-datepicker>
              </mat-form-field> 
              </div>


              <div class="col-sm-6 text-secondary">
                <div *ngIf="this.trip.dateTo" class="col-sm-6 text-secondary">
                  End: {{trip.dateTo.toDate()| date:'shortDate'}}
                </div>
                  <label for="dateFrom" >
                      End date
                  </label>
                 <mat-form-field class="form-group">
                      <input matInput [matDatepicker]="to" autocomplete="off" (dateInput)="getDateTo($event)" (dateChange)="getDateTo($event)">
                      <mat-datepicker-toggle matSuffix [for]="to" style="font-size:40px"></mat-datepicker-toggle>
                      <mat-datepicker #to color="primary"></mat-datepicker>
                  </mat-form-field> 
              </div>
            </div>


            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0">Photo address:</h5>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" formControlName="photoURL">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0">Price:</h5>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" formControlName="price" >
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                  <h5 class="mb-0">Places:</h5>
                </div><br>
    
                <div class="col-sm-12 text-secondary">
                  All places:
                  <input type="text" formControlName="places" >
                </div>
               
                <div class="col-sm-12 text-secondary">
                    Booked places:
                    {{ trip.booked }}
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-sm-12">
                    <h5 class="mb-0">Rating</h5>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{trip.rating | number : '1.2-2'}}<br>
                    number of votes: {{trip.votes}}
                  </div>
                  <button type="button" class ="reset" (click)="resetRating()" style="background-color: white;border: 1px solid rgb(177, 171, 171);">
                    Reset rating
                  </button>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="col-sm-12 text-secondary">
                      Description:
                    </div>
                    <input type="text" formControlName="description" >
                    </div>
                </div>
          </div>



        </div>

        </div>
        
        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <button type="button" class ="button" type="submit" style="background-color: white;border: 1px solid rgb(177, 171, 171);">
                submit changes
              </button>
              </div>
            </div>
      </div>
        </form>
              <div *ngIf="this.auth.canDelete(this.user)" class="col-xl-12 col-lg-12">
                <div class="card" style="background-color: transparent; border: none;"  >
                  <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <button type="button" class ="btn" (click)="deleteTrip()" style="background-color: white;border: 1px solid rgb(177, 171, 171);">
                      <img src="https://simpleicon.com/wp-content/uploads/trash.png" width="50" >
                    </button>
                  </div>
                  </div>
              </div>
              </div>
              </div>
<br><br>
    