@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Tenor+Sans&display=swap');

nav{
    left:0;
    background-color:white;
    width: 100%;
    padding: 30px;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 10;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: bolder;
}

.btn{
    border-radius: 10px;
    height: 50px;
    width: 170px;
    margin-left: 2vw;
    font-size: 20px;
    color:white;
    background-color: rgba(9,124,122,1);
    box-shadow: none;
    border: solid 2px white;
}

@media only screen and (max-width:800px){
    nav{
        height: 140px;

    }
}

@media only screen and (max-width:420px){
    nav{
        height: 240px;

    }
}