
body{
    margin-top: 150px;
    background: rgb(1,14,15);
    background: linear-gradient(347deg, rgba(1,14,15,1) 2%, rgba(12,52,68,1) 36%, rgba(9,124,122,1) 67%, rgba(10,167,164,1) 87%, rgba(170,227,226,1) 99%);
    background-repeat: no-repeat;
    height: 1600vh;
}
.container{
    height: 100vh;
    padding: 30px;
}
.row{
    padding: 30px;
}
.card{
    background-color: white;
    height: auto;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 7px 15px 5px #000000; 
    box-shadow: 8px 7px 15px 5px #000000;
}

.btn{
    border-radius: 10px;
    border: solid 1px gray;
    margin-left: 30px;
}
.button {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid white;
    
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}
ul{
    padding: 15px;
}
li{
    margin: 10px;
}
.button:hover {
    background: white;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }