
<div id="panel">
  <h2>Filter by</h2>
  <div class="row">
      <div class="filter">
        <h4>Country:</h4>
        <select [(ngModel)] = "country" class="form-control">
          <option></option>
          <option *ngFor="let trip of tripList | countryList ">
            {{trip}}</option>
        </select>     
      </div>

      <div class="filter">
        <h4>Minimal price: </h4>{{minPrice.value}}
        <mat-slider thumbLabel min='{{cheapPrice}}' max="{{expensivePrice}}" #minPrice ></mat-slider>
          <h4>Maximal price:</h4>
        <mat-slider thumbLabel value="{{expensivePrice}}" min='{{minPrice.value}}' max="{{expensivePrice}}" #maxPrice ></mat-slider>
      </div>
    
    <div class="filter">
      <h4>Trip starts after:</h4>
      <mat-form-field>
          <input matInput [matDatepicker]="from" autocomplete="off" (dateInput)="getDateFrom($event)" (dateChange)="getDateFrom($event)">
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from color="primary"></mat-datepicker>
      </mat-form-field> 
      <h4>Trip ends before:</h4>
      <mat-form-field>
          <input matInput [matDatepicker]="to" autocomplete="off" (dateInput)="getDateTo($event)" (dateChange)="getDateTo($event)">
          <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to color="primary"></mat-datepicker>
      </mat-form-field> 
    </div>

    <div class="filter">
      <h4>Rating:</h4>
      From:<mat-slider thumbLabel step= "0.5" value="0" min='0' max="5" #starFrom ></mat-slider><br>
      To:<mat-slider thumbLabel step= "0.5" value="5" min='{{starFrom.value}}' max="5" #starTo ></mat-slider><br>
    </div>
  </div>
</div>



<div style ="margin-top: 150px;"  *ngFor="let trip of tripList |  countryFilter: country | minPriceFilter: minPrice.value | maxPriceFilter: maxPrice.value | startFilter: fromDate | endFilter: toDate | starFrom: starFrom.value | starTo: starTo.value">
  <app-trip 
        [trip]="trip"
        [colorBG] = "trip.id == cheapID ? 'rgba(240, 53, 53, 0.534)' : (trip.id == expensiveID ? 'rgba(17, 243, 9, 0.322)' : 'grey')"
        >
        
    </app-trip>
</div>