@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

.container-fluid{
    width:100%;
    margin-top: 200px;
}
.box {

    margin: auto;
    width: 530px;
    padding: 50px;
    background: white ;
    text-align: center;
    transition: 0.25s;
    font-family: 'Nunito', sans-serif;
    color: black;
    border-radius: 30px;
    border: 3px rgb(26, 25, 25) solid;
}

.box input{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;

    padding: 15px 15px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
#mail{
    border: 2px solid rgba(170,227,226,1);
}
#password{
    border: 2px solid rgb(18, 161, 159);
}
#vip{
    margin-top: 3px;
    border: 2px solid rgb(95, 133, 132);
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}
.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
}

.box input:focus {
    width: 300px;
    border-color: #2eaccc
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid rgb(11, 128, 126);
    
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.box button[type="submit"]:hover {
    background: rgb(11, 128, 126);
}

.google {
    text-decoration: underline;
    font-size: 20px;
    font-family:'Tenor Sans', sans-serif;
}
