.btn{
    border: 1px white solid;
    border-radius: 5px;
}
.plus{
    background-color: rgba(16, 112, 150, 0.767);
    color:white;
    width: 30px;
}

.minus{
    background-color: red;
    text-align: center;
    color:white;
    width: 30px;
}