@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Tenor+Sans&display=swap');

  body {
    margin:0;
    padding:0;
    font-family: 'Tenor Sans', sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .jumbotron {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85vw;
    padding: 10vh;
    transform: translate(-50%, -50%);
    background: rgb(1,14,15);
    background: linear-gradient(347deg, rgba(1,14,15,1) 2%, rgba(12,52,68,1) 36%, rgba(9,124,122,1) 67%, rgba(10,167,164,1) 87%, rgba(170,227,226,1) 99%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
  }

 form{
    margin-top: 20px;

  }
  .jumbotron .form-group{
    position: relative;
    margin-top: 30px;
  }
  
  .jumbotron .form-group input {
    width: 100%;
    padding: 10px 0 0 20px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 80px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
  }
  .jumbotron .form-group label {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px;
    font-size: 19px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    top: -20px;
    color: rgb(172, 169, 169);
  }

  .jumbotron .form-group label {
    top:-20px;
    left: 0;
    padding: 10px 0;
    color: #fff;    
    position: absolute;
    pointer-events: none;
    transition: .5s;

    font-size: 25px;
  }
    
  .jumbotron .form-group input:focus ~ label {
    top: -20px;
    font-size: 15px;
    color: rgb(20, 20, 20);
  }  
 .form-control:focus{
     box-shadow: none;
 }

 .btn{
     background-color: white;
     font-size: 25px;
 }
 .btn:hover{
     background-color: rgb(71, 68, 68);
     transition: 0.7s;
     color: white;
 }
 @media only screen and (max-width:1650px){
  .jumbotron {
    position: relative;
    margin-top: 50%;
  }
 }
 @media only screen and (max-width:1350px){
  .jumbotron {
    margin-top: 60%;
  }
 }
 @media only screen and (max-width:1000px){
  .jumbotron {
    position: relative;
    margin-top: 70%;
  }
 }
 @media only screen and (max-width:850px){
  .jumbotron {
    position: relative;
    margin-top: 80%;
  }
 }
 @media only screen and (max-width:770px){
  .jumbotron {
    position: relative;
    margin-top: 130%;
  }
 }
 @media only screen and (max-width:610px){
  .jumbotron {
    position: relative;
    margin-top: 150%;
  }
 }