
<div class="jumbotron jumbotron-fluid">
    <h2 style="font-size: 37px; font-family: 'Bungee Shade', cursive;">Add new tour</h2>
    <br>
  <form [formGroup]="tripForm" (ngSubmit)="onSubmit(tripForm.value)">
    <div class="row register-form">
        <div class="col-md-6">
            <div class="form-group">
            <input  id="name" type="text" formControlName="name" class="form-control" >
            <label for="name" >
                Trip name
            </label>
            </div>

            <div class="form-group">
                <input  id="name" type="text" formControlName="country" class="form-control" >
                <label for="country" >
                    Country 
                </label>
            </div>
            <div class="row">
            <div class="form-group" style="margin-right:8vw;">
                <mat-form-field class="form-group" >
                    <input id="from" matInput [matDatepicker]="from"  autocomplete="off" (dateInput)="getDateFrom($event)" (dateChange)="getDateFrom($event)">
                    <mat-datepicker-toggle matSuffix [for]="from" style="font-size:40px;"></mat-datepicker-toggle>
                    <mat-datepicker #from color="primary"  ></mat-datepicker>
                </mat-form-field> 
            </div>

            <div class="form-group">
                <mat-form-field class="form-group">
                    <input id="to" matInput [matDatepicker]="to" autocomplete="off" (dateInput)="getDateTo($event)" (dateChange)="getDateTo($event)">
                    <mat-datepicker-toggle matSuffix [for]="to" style="font-size:40px"></mat-datepicker-toggle>
                    <mat-datepicker #to color="primary"></mat-datepicker>
                </mat-form-field> 
            </div></div>
     </div>
        <div class="col-md-6">
            <div class="form-group">
            <input  id="price" type="text" formControlName="price" class="form-control" >
            <label for="price" >
                Price ($$.$$)
            </label>
            </div>

            <div class="form-group">
                <input  id="places" type="text" formControlName="places" class="form-control" >
                <label for="places" >
                    Number of Places
            </label>
            </div>

            <div class="form-group">
                <input id="description" type="text" formControlName="description" class="form-control" >
                <label for="description">
                    Description
                </label>
            </div>
            <div class="form-group">
                <input id="photoURL" type="text" formControlName="photoURL" class="form-control" >
                <label for="photoURL">
                    Photo URL
                </label>
            </div>
        </div>
    </div>
            <br><br><br>
        <button type="submit" class="btn btn-block ">Submit</button>



  </form>
</div>