@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@100;200;300&display=swap');
body{
    margin-top: 100px;
    background: rgb(1,14,15);
    background: linear-gradient(347deg, rgba(1,14,15,1) 2%, rgba(12,52,68,1) 36%, rgba(9,124,122,1) 67%, rgba(10,167,164,1) 87%, rgba(170,227,226,1) 99%);
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    height: 100vh;
    
}

app-sing-in{
    margin: 300px;
    padding-bottom: 100px;
}
h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
    margin-top: 160px;
}
.button {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid white;
    
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.button:hover {
    background: white;
}
